# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Log files (jika ada)
*.log

# IDE files (Contoh untuk IntelliJ, Eclipse, VS Code)
.idea/
*.iml
*.ipr
*.iws

nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.classpath
.project
.settings/

.vscode/

# File sistem operasi
.DS_Store
Thumbs.db
